<div class="container mx-auto">
    <div class="flex justify-between items-center mb-4">
        @if (fluxSelected(); as fluxSelected) {
        <h1>Liste des {{fluxSelected.nom}}</h1>
        @if(fluxSelected.enable && entiteSelected().id_e > 0) {
        <div class="space-x-4">
            <button [attr.aria-label]="'Créer un document de type '+ fluxSelected.nom" class="btn-meg-primary px-4 py-2"
                [attr.title]="'Créer un document de type '+ fluxSelected.nom" (click)="createDoc()">
                <span class="md:inline hidden">Créer</span>
                <svg class="w-5 h-5 inline-block ml-1" xmlns="http://www.w3.org/2000/svg" fill="none"
                    viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 4v16m8-8H4" />
                </svg>
            </button>
        </div>
        }
        }
        @else {
        <h1>Liste des documents</h1>
        }
    </div>
    @if(is_loading()) {
    <meg-loading [message]="'Chargement des documents en cours...'" />
    } @else {
    <div class="meg-table">
        <table id="table-md" class="table-auto">
            @if (fluxSelected(); as fluxSelected) {
            <caption class="hidden"> Documents {{fluxSelected.nom}} </caption>
            } @else {
            <caption class="hidden">Documents</caption>
            }
            <thead class="text-medium bg-gray-50 border border-b-black">
                <tr>
                    <th scope="col"></th>
                    <th scope="col">Objet</th>
                    <th scope="col" class="md:w-1/6 hidden sm:table-cell">Type</th>
                    <!-- colonne masqué sur les écran type tablette-->
                    <th scope="col">État</th>
                    <th scope="col" class="md:w-1/5 hidden sm:table-cell">Date de modification</th>
                    <th scope="col" class="md:w-1/6">Actions</th>
                </tr>
            </thead>
            <tbody>
                @for (doc of documents(); track doc.id_d) {
                <tr>
                    <td>
                        @if(displayCheckBox(doc)) {
                        <div class="flex items-center">
                            <input [id]="'checkbox-'+ doc.id_d" type="checkbox" [(ngModel)]="doc.selected"
                                (change)="selectAction(doc)"
                                class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 dark:focus:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
                            <label [for]="'checkbox-'+ doc.id_d" class="sr-only">Sélectionner document
                                {{doc.titre || doc.id_d}}</label>
                        </div>
                        }
                    </td>
                    <td class="whitespace-normal">
                        {{doc.titre || doc.id_d}}
                        <!-- <a (click)="consultDoc(doc)" class="text underline hover:text-blue-hover hover:cursor-pointer">
                           </a> -->
                    </td>
                    <td class="hidden sm:table-cell">{{doc.type}}</td>
                    <td>{{ doc.last_action_message ?? doc.last_action | stateDocument}}</td>
                    <td class="hidden sm:table-cell">{{doc.last_action_date | date:'dd/MM/yyyy HH:mm'}}</td>
                    <td>
                        @for(action of doc.action_possible; track $index) {
                        <meg-action-document class="mr-2" [action]="action.action" [message]="action.message"
                            (action$)="runAction(doc, action)" />
                        }
                        @if(canNotEdit(doc)) {
                        <a title="Consulter le document" (click)="consultDoc(doc)" class="text hover:cursor-pointer">
                            <svg class="mr-2 w-5 h-5 inline-block" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                                fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                                <path stroke="currentColor" stroke-width="2"
                                    d="M21 12c0 1.2-4.03 6-9 6s-9-4.8-9-6c0-1.2 4.03-6 9-6s9 4.8 9 6Z" />
                                <path stroke="currentColor" stroke-width="2" d="M15 12a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z" />
                            </svg>
                        </a>
                        }
                    </td>
                </tr>
                }
                @empty {
                <tr>
                    <td colspan="5" class="text-center text-gray-500">Aucun document</td>
                </tr>
                }
            <tfoot>
                <tr>
                    <td colspan="1">
                        @for(action of multiAction(); track $index) {
                        <meg-action-document class="mr-2" [action]="action.action" [message]="action.message"
                            (action$)="runActionMulti(document_selected, action)" />

                        }
                    </td>
                    @if (totalPages() > 1) {
                    <td colspan="5">
                        <meg-pagination [pageActive]="pageActive()" [totalPages]="totalPages()"
                            (onChangePage)="changePage($event)" />
                    </td>
                    }
                </tr>
            </tfoot>
        </table>
    </div>
    }
</div>

<div id="confirmDelete" tabindex="-1"
    class="fixed top-0 left-0 right-0 z-50  items-center justify-center hidden w-full p-4 overflow-x-hidden overflow-y-auto md:inset-0 h-[calc(100%-1rem)] max-h-full">
    <div class="relative w-full max-w-md max-h-full">
        <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
            <div class="p-4 md:p-5 text-center">
                <svg class="mx-auto mb-4 text-gray-400 w-12 h-12 dark:text-gray-200" aria-hidden="true"
                    xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        d="M10 11V6m0 8h.01M19 10a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
                </svg>
                @if(documents_to_delete()?.length === 1 ) {
                <h3 class="mb-5 text-lg text dark:text-gray-400">Confirmer la suppression du document {{
                    documents_to_delete()[0].titre || documents_to_delete()[0].id_d }} ?</h3>
                } @else {
                <h3 class="mb-5 text-lg text dark:text-gray-400">Confirmer la suppression de
                    {{documents_to_delete().length}} documents ?</h3>
                }
                <button type="button" (click)="cancelDeleteDocuments()"
                    class="btn-meg-secondary px-2 py-2 inline-flex ">Annuler</button>
                <button type="button" (click)="doDeleteDocuments()" class="btn-meg-delete px-2 py-2 inline-flex ml-6">
                    Supprimer
                </button>
            </div>
        </div>
    </div>
</div>