<div class="container mx-auto">
    <div class="flex justify-between items-center mb-4">
        @if (fluxSelected(); as fluxSelected) {
        <h1>Liste des documents {{fluxSelected.nom}}</h1>
        <div class="space-x-4">
            <button [attr.aria-label]="'Créer un document de type '+ fluxSelected.nom" class="btn-meg-primary px-4 py-2"
                (click)="createDoc()">
                Créer
                <svg class="w-5 h-5 inline-block ml-1" xmlns="http://www.w3.org/2000/svg" fill="none"
                    viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 4v16m8-8H4" />
                </svg>
            </button>
        </div>
        }
        @else {
        <h1>Liste des documents</h1>
        }
    </div>

    @if(is_loading()) {
    <meg-loading [message]="'Chargement des documents en cours...'" />
    } @else {
    <div class="meg-table">
        <table id="table-md" class="table-auto">
            @if (fluxSelected(); as fluxSelected) {
            <caption class="hidden"> Documents {{fluxSelected.nom}} </caption>
            } @else {
            <caption class="hidden">Documents</caption>
            }
            <thead class="text-medium bg-gray-50 border border-b-black">
                <tr>
                    <th scope="col" class="md:w-2/6">Titre</th>
                    <th scope="col" class="md:w-1/6">Type</th>
                    <th scope="col">État</th>
                    <th scope="col">Date de modification</th>
                    <th scope="col" class="md:w-1/6">Actions</th>
                </tr>
            </thead>
            <tbody>
                @for (doc of documents(); track doc.id_d) {
                <tr>
                    <td class="whitespace-normal">{{doc.titre || doc.id_d}}</td>
                    <td>{{doc.type}}</td>
                    <td>{{doc.last_action_display | stateDocument}}</td>
                    <td>{{doc.last_action_date | date:'dd/MM/yyyy HH:mm'}}</td>
                    <td>
                        @if(doc.last_action_display === 'modification' || doc.last_action_display === 'creation') {
                        <a (click)="goUpdateDoc(doc.id_d)" title="Modifier le document {{doc.titre}}"
                            class="text-blue hover:text-blue-hover hover:cursor-pointer">
                            <svg class="w-5 h-5 inline-block" xmlns="http://www.w3.org/2000/svg" fill="none"
                                viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                    stroke-width="2"
                                    d="M10.779 17.779 4.36 19.918 6.5 13.5m4.279 4.279 8.364-8.643a3.027 3.027 0 0 0-2.14-5.165 3.03 3.03 0 0 0-2.14.886L6.5 13.5m4.279 4.279L6.499 13.5m2.14 2.14 6.213-6.504M12.75 7.04 17 11.28" />
                            </svg>
                            Modifier
                        </a>
                        }
                    </td>
                </tr>
                }
                @empty {
                <tr>
                    <td colspan="5" class="text-center text-gray-500">Aucun document</td>
                </tr>
                }
        </table>
    </div>
    }
    @if (totalPages() > 1) {
    <meg-pagination [pageActive]="pageActive()" [totalPages]="totalPages()" (onChangePage)="changePage($event)" />
    }
</div>