<nav class="fr-sidemenu" role="navigation" aria-labelledby="fr-sidemenu-title">
    <div class="fr-sidemenu__inner">
        <div class="fr-collapse" id="fr-sidemenu-wrapper">
            <div class="fr-toggle fr-toggle--label-left  toggle-container">
                <input type="checkbox" class="fr-toggle__input" aria-describedby="toggle-ordre-hint-text"
                    id="toggle-ordre" [(ngModel)]="ordreAlphabetique">
                <label class="fr-toggle__label" for="toggle-ordre" data-fr-checked-label="Ordre alphabétique"
                    data-fr-unchecked-label="Regroupé">Ordre d'affichage</label>
                <p class="fr-hint-text" id="toggle-ordre-hint-text">Choisissez l'ordre d'affichage des actes</p>
            </div>
            <ul class="fr-sidemenu__list">
                <ng-container *ngIf="ordreAlphabetique; else groupedView">
                    <li class="fr-sidemenu__item" *ngFor="let acte of actes; let i = index">
                        <a class="fr-sidemenu__link" href="#">{{ acte.nom }} </a>
                    </li>
                </ng-container>
                <ng-template #groupedView>
                    <li class="fr-sidemenu__item" *ngFor="let groupe of groupedActes; let i = index">
                        <button class="fr-sidemenu__btn" aria-expanded="false"
                            [attr.aria-controls]="'fr-sidemenu-item-' + i">
                            {{ groupe.type }}
                        </button>
                        <div class="fr-collapse" [id]="'fr-sidemenu-item-' + i">
                            <ul class="fr-sidemenu__list">
                                <li class="fr-sidemenu__item" *ngFor="let nom of groupe.nom">
                                    <a class="fr-sidemenu__link" href="#">{{ nom }}</a>
                                </li>
                            </ul>
                        </div>
                    </li>
                </ng-template>
            </ul>
        </div>
    </div>
</nav>