<nav class="fr-sidemenu" role="navigation" aria-labelledby="fr-sidemenu-title">
    <div class="fr-sidemenu__inner">
        <div class="fr-collapse" id="fr-sidemenu-wrapper">
            <div class="fr-toggle fr-toggle--label-left toggle-container">
                <input type="checkbox" class="fr-toggle__input" aria-describedby="toggle-ordre-hint-text"
                    id="toggle-ordre" [(ngModel)]="groupByType">
                <label class="fr-toggle__label" for="toggle-ordre" data-fr-checked-label="Grouper par Type"
                    data-fr-unchecked-label="Regroupé">Grouper par type</label>
            </div>
                <ul class="fr-sidemenu__list">
                    @if (groupByType) {
                        <li class="fr-sidemenu__item" *ngFor="let type of getKeys(groupedActes);">
                            <button class="fr-sidemenu__btn fr-sidemenu-btn" aria-expanded="false"
                                [attr.aria-controls]="'fr-sidemenu-item-' + type">
                                {{ type }}
                            </button>
                            <div class="fr-collapse" [id]="'fr-sidemenu-item-' + type">
                                <ul class="fr-sidemenu__list">
                                    <li class="fr-sidemenu__item" *ngFor="let acte of groupedActes[type]">
                                        <a class="fr-sidemenu__link sidemenu-link" [routerLink]="['/documents', acte.id]">{{ acte.nom
                                            }}
                                            <a class="icon-link no-bg-change" (click)="createDoc(acte.nom)">
                                                <span class="fr-icon-add-circle-fill  icone-add" aria-hidden="true"></span>
                                            </a>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                    } @else {
                        <li class="fr-sidemenu__item" *ngFor="let acte of actes; let i = index">
                            <a class="fr-sidemenu__link sidemenu-link" [routerLink]="['/documents', acte.id]">{{
                                acte.nom }}
                                <a class="icon-link no-bg-change" (click)="createDoc(acte.nom)">
                                    <span class="fr-icon-add-circle-fill  icone-add" aria-hidden="true"></span>
                                </a>
                            </a>
                        </li>
                    }
                </ul>
        </div>
    </div>
</nav>