<nav class="fr-sidemenu" role="navigation" aria-labelledby="fr-sidemenu-title">
    <div class="fr-sidemenu__inner">
        <div class="fr-collapse" id="fr-sidemenu-wrapper">
            <div class="fr-toggle fr-toggle--label-left toggle-container">
                <input type="checkbox" class="fr-toggle__input" aria-describedby="toggle-ordre-hint-text"
                    id="toggle-ordre" [(ngModel)]="groupByType">
                <label class="fr-toggle__label" for="toggle-ordre" data-fr-checked-label="Grouper par Type"
                    data-fr-unchecked-label="Regroupé">Grouper par type</label>
            </div>
            <ul class="fr-sidemenu__list">
                @if (groupByType) {
                @for(type of listType; track type) {
                <li class="fr-sidemenu__item">
                    <button class="fr-sidemenu__btn fr-sidemenu-btn" aria-expanded="false"
                        [attr.aria-controls]="'fr-sidemenu-item-' + type">
                        {{ type }}
                    </button>
                    <div class="fr-collapse" [id]="'fr-sidemenu-item-' + type">
                        <ul class="fr-sidemenu__list">
                            @for (acte of groupedActes[type]; track acte.id ) {
                            <li class="fr-sidemenu__item">
                                <div class="meg-link-row">
                                    <div><a class="fr-sidemenu__link" href="#" (click)="selectFlux(acte)" <<<<<<< HEAD
                                            [attr.aria-current]=" fluxSelected() !== null && acte.id === fluxSelected().id ? 'page' : null"=======[attr.aria-current]=" fluxSelected() != null && acte.id === fluxSelected().id ? 'page' : null">>>>>>>
                                            fa02acb (refacto du component document list + refacto html sidebar + gestion
                                            de la sélection du flux sélectionné dans un signal dans le fluxService)
                                            target="_self">{{
                                            acte.nom }}</a></div>
                                    <div>
                                        <a href="#" target="_self" (click)="createDoc(acte)"
                                            title="Créer document de type {{acte.nom}}">
                                            <span class="fr-icon-add-circle-fill  icon-add" aria-hidden="true"></span>
                                        </a>
                                    </div>
                                </div>
                            </li>
                            }
                        </ul>
                    </div>
                </li>
                }
                } @else {
                @for (acte of actes; track acte.id ) {
                <li class="fr-sidemenu__item">
                    <div class="meg-link-row">
                        <div><a class="fr-sidemenu__link" href="#"
                                [attr.aria-current]=" fluxSelected() !== null && acte.id === fluxSelected().id ? 'page' : null"
                                (click)="selectFlux(acte)" target="_self">{{
                                acte.nom }}</a></div>
                        <div>
                            <a href="#" target="_self" (click)="createDoc(acte)"
                                title="Créer document de type {{acte.nom}}">
                                <span class="fr-icon-add-circle-fill  icon-add" aria-hidden="true"></span>
                            </a>
                        </div>

                    </div>
                </li>
                }

                }
            </ul>
        </div>
    </div>
</nav>