<div class="fr-input-group">
    <label class="fr-label" [for]="controlId">
        {{ name }}
        @if (required) {
        <span class="required-star">*</span>
        }
        @if (comment) {
        <span class="fr-hint-text">{{ comment }}</span>
        }
    </label>
    <input class="fr-input" [id]="controlId" type="date" [formControl]="formControl"
        [attr.aria-describedby]="controlId + '-messages'" [attr.min]="getMinDate()">
    <div class="fr-messages-group" [id]="controlId + '-messages'" aria-live="assertive"></div>
</div>