<div [ngClass]="{
    'fr-input-group': true,
    'fr-input-group--error': formControl.invalid && (formControl.dirty || formControl.touched),
    'fr-input-group--valid': formControl.valid && (formControl.dirty || formControl.touched)
  }">
    <label class="fr-label" [for]="controlId">
        {{ name }}
        @if (required) {
        <span class="required-star">*</span>
        }
        @if (comment) {
        <span class="fr-hint-text">{{ comment }}</span>
        }
    </label>
    <input class="fr-input" [id]="controlId" [ngClass]="{
           'fr-input--error': formControl.invalid && (formControl.dirty || formControl.touched),
           'fr-input--valid': formControl.valid && (formControl.dirty || formControl.touched)
         }" [formControl]="formControl" type="text" />
    @if (formControl.invalid && (formControl.dirty || formControl.touched)) {
    <p class="fr-error-text">
        {{ getErrorMessage() }}
    </p>
    }
    @if (formControl.valid && (formControl.dirty || formControl.touched) && (formControl.value || !required)) {
    <p class="fr-valid-text">
        Champ valide
    </p>
    }
</div>