<div [ngClass]="{
    'fr-input-group': true,
    'fr-input-group--error': formControl.invalid && (formControl.dirty || formControl.touched),
    'fr-input-group--valid': formControl.valid && (formControl.dirty || formControl.touched)
  }">
    <label class="fr-label" [for]="controlId">
        {{ name }} <span *ngIf="required" class="required-star">*</span>
        <span class="fr-hint-text" *ngIf="commentaire">{{ commentaire }}</span>
    </label>
    <input class="fr-input" [id]="controlId" [ngClass]="{
           'fr-input--error': formControl.invalid && (formControl.dirty || formControl.touched),
           'fr-input--valid': formControl.valid && (formControl.dirty || formControl.touched)
         }" [formControl]="formControl" type="text" />
    <p *ngIf="formControl.invalid && (formControl.dirty || formControl.touched)" class="fr-error-text">
        {{ getErrorMessage() }}
    </p>
    <p *ngIf="formControl.valid && (formControl.dirty || formControl.touched) && (formControl.value || !required)"
        class="fr-valid-text">
        Champ valide
    </p>
</div>