<div>
    <div class="header">
        <div class="container">
            <p class="display-4">Télétransmission des {{acteName}} </p>
        </div>
    </div>
    <div class="acte-form-content">
        <div class="content-box">
            <div *ngFor="let field of textFields" class="input-container">
                <app-text-input [required]="field.requis" [pregMatch]="field.preg_match"
                    [commentaire]="field.commentaire" [multiple]="field.multiple" [index]="field.index"
                    [name]="field.name" [pregMatchError]="field.preg_match_error" />
            </div>
            <div *ngFor="let field of checkboxFields" class="input-container">
                <meg-checkbox-input [name]="field.name" [required]="field.requis" [readOnly]="field['read-only']"
                    [defaultChecked]="field.default === 'checked'" />
            </div>
            <div *ngFor="let field of selectFields" class="input-container">
                <meg-select-input [name]="field.name" [required]="field.requis" [multiple]="field.multiple"
                    [readOnly]="field['read-only']" [options]="field.value" [commentaire]="field.commentaire" />
            </div>
        </div>
    </div>
</div>