<div class="container mx-auto">
    <div class="flex justify-between items-center mb-4">
        <div class="fr-col-9 fr-col-md-9">
            <h1>Télétransmission des {{ acteName }}</h1>
        </div>
    </div>

    <div class="meg-container p-4 border rounded-sm">
        @if(!isReadOnly){
        <ol class="flex items-center w-full p-3 space-x-2 text-center text">
            <li class="flex items-center" [ngClass]="{'text-blue': currentStep() === 1}">
                <span [ngClass]="{'border-blue': currentStep() === 1}"
                    class="flex items-center justify-center w-5 h-5 me-2 text-sm border border-gray-500 rounded-full shrink-0">
                    1
                </span>
                Préparation de l'Acte
                <svg class="w-3 h-3 ms-2 sm:ms-4 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                    fill="none" viewBox="0 0 12 10">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        d="m7 9 4-4-4-4M1 9l4-4-4-4" />
                </svg>
            </li>
            <li class="flex items-center" [ngClass]="{'text-blue': currentStep() === 2}">
                <span [ngClass]="{'border-blue': currentStep() === 2}"
                    class="flex items-center justify-center w-5 h-5 me-2 text-sm border border-gray-500 rounded-full shrink-0">
                    2
                </span>
                Typologie des Pièces
            </li>
        </ol>

        @if (currentStep() === 1) {
        <div class="mt-4">
            @if (globalErrorMessage && !form.valid) {
            <div class="text-alert m-4" role="alert">
                {{ globalErrorMessage }}
            </div>
            }
            <form [formGroup]="form">
                <div class="">
                    @for (field of filteredFields; track field.idField) {
                    @switch (field.type) {
                    @case ('text') {
                    <meg-text-input [idField]="field.idField" [required]="field['requis']"
                        [pregMatch]="field['preg_match']" [comment]="field['commentaire']"
                        [multiple]="field['multiple']" [index]="field['index']" [name]="field['name']"
                        [pregMatchError]="field['preg_match_error']" [control]="getFormControl(field.idField)" />
                    }
                    @case ('checkbox') {
                    <meg-checkbox-input [idField]="field.idField" [name]="field['name']" [required]="field['requis']"
                        [readOnly]="field['read-only']" [defaultChecked]="field['default'] === 'checked'"
                        [control]="getFormControl(field.idField)" />
                    }
                    @case ('select') {
                    <meg-select-input [idField]="field.idField" [name]="field['name']" [required]="field['requis']"
                        [multiple]="field['multiple']" [readOnly]="field['read-only']" [options]="field['value']"
                        [comment]="field['commentaire']" [control]="getFormControl(field.idField)" />
                    }
                    @case ('date') {
                    <meg-date-input [idField]="field.idField" [name]="field['name']" [required]="field['requis']"
                        [default]="field['default']" [comment]="field['commentaire']"
                        [control]="getFormControl(field.idField)" />
                    }
                    @case ('file') {
                    <meg-file-upload [idField]="field.idField" [name]="field['name']" [id_d]="documentInfo.info.id_d"
                        [id_e]="entiteSelected().id_e" [required]="field['requis']" [multiple]="field['multiple']"
                        [comment]="field['commentaire']" [control]="getFormControl(field.idField)" />
                    }
                    @case ('externalData') {
                    <meg-external-data-input [idField]="field.idField" [name]="field['name']"
                        [required]="field['requis']" [link_name]="field['link_name']"
                        [documentId]="documentInfo.info.id_d" [control]="getFormControl(field.idField)" />
                    }
                    }

                    }
                </div>
            </form>

            <div class="flex flex-row-reverse w-full">
                <button (click)="onNextStepClick()" aria-label="Suivant" class="btn-meg-primary px-4 py-2">
                    Suivant
                    <svg class="w-5 h-5 inline" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24"
                        fill="none" viewBox="0 0 24 24">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="M19 12H5m14 0-4 4m4-4-4-4" />
                    </svg>

                </button>
            </div>
        </div>
        }
        @if (currentStep() === 2) {
        <div class="mt-4">
            <h3 class="text-lg font-semibold mb-4">{{fileTypeField['name']}}</h3>
            @if (globalErrorMessage) {
            <div class="text-alert m-4" role="alert">
                {{ globalErrorMessage }}
            </div>
            }
            <form [formGroup]="formExternalData">
                @for (piece of pieces(); track $index; let idx = $index) {
                <meg-select-input [idField]="piece" [name]="piece" [required]="true" [options]="fileTypes"
                    [control]="getFormControlExternal(idx)" />
                }

                <div class="flex flex-row justify-between">
                    <div>
                        <button class="btn-meg-secondary px-4 py-2" type="button" (click)="onPreviousStepClick()">
                            <svg class="w-5 h-5 inline" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24"
                                fill="none" viewBox="0 0 24 24">
                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                    stroke-width="2" d="M5 12h14M5 12l4-4m-4 4 4 4" />
                            </svg>
                            Précédent
                        </button>
                    </div>
                    <div>
                        <button class="btn-meg-primary px-4 py-2" type="button"
                            (click)="onAssignFileTypesClick()">Enregistrer</button>
                    </div>
                </div>
            </form>
        </div>
        }

        }@else{
        <!-- TODO - faire un composant à part-->
        <div class="fr-table fr-table--bordered fr-table--no-caption">
            <table id="table-md" class="fr-text--sm">
                <caption>Informations du document</caption>
                <thead>
                    <tr>
                        <th scope="col" class="meg fr-col-xl-4 fr-col-lg-4 fr-col-md-4">Champ</th>
                        <th scope="col" class="meg fr-col-xl-8 fr-col-lg-8 fr-col-md-8">Valeur</th>
                    </tr>
                </thead>
                <tbody>
                    @for (field of filteredFields; track field.idField) {
                    <tr>
                        <td>{{ field['name'] }}</td>
                        <td>
                            @switch (field.type) {
                            @case ('text') {
                            {{ formValues[field.idField] }}
                            }
                            @case ('checkbox') {
                            {{ formValues[field.idField] ? 'Oui' : 'Non' }}
                            }
                            @case ('select') {
                            {{ field['value'][formValues[field.idField]] }}
                            }
                            @case ('date') {
                            {{ formValues[field.idField] | date:'dd/MM/yyyy' }}
                            }
                            @case ('file') {
                            {{ formValues[field.idField]}}
                            }
                            @case ('externalData') {
                            {{ formValues[field.idField] }}
                            }
                            }
                        </td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
        <button class="fr-btn  btn-right" (click)="goBack()">Retourner dans la liste des documents</button>
        }
    </div>
</div>