<div class="fr-container--fluid">
    <div class="fr-grid-row">
        <div class="fr-col-9 fr-col-md-9">
            <h1>Télétransmission des {{ acteName }}</h1>
        </div>
    </div>

    <div class="fr-grid-row">
        <div class="content-box fr-col-12 fr-col-md-12">
            <div class="fr-stepper">
                <h2 class="fr-stepper__title">
                    <span class="fr-stepper__state">Étape {{ currentStep }} sur 2</span>
                </h2>
                <div class="fr-stepper__steps" [attr.data-fr-current-step]="currentStep" data-fr-steps="2"></div>
                @if (currentStep === 1) {
                <div class="step-container">
                    @if (globalErrorMessage) {
                    <div class="fr-alert fr-alert--error" role="alert">
                        {{ globalErrorMessage }}
                    </div>
                    }
                    @for (field of filteredFields; track field.idField) {
                    <div class="input-container">
                        @switch (field.type) {
                        @case ('text') {
                        <meg-text-input [idField]="field.idField" [required]="field['requis']"
                            [pregMatch]="field['preg_match']" [comment]="field['commentaire']"
                            [multiple]="field['multiple']" [index]="field['index']" [name]="field['name']"
                            [pregMatchError]="field['preg_match_error']" />
                        }
                        @case ('checkbox') {
                        <meg-checkbox-input [idField]="field.idField" [name]="field['name']"
                            [required]="field['requis']" [readOnly]="field['read-only']"
                            [defaultChecked]="field['default'] === 'checked'" />
                        }
                        @case ('select') {
                        <meg-select-input [idField]="field.idField" [name]="field['name']" [required]="field['requis']"
                            [multiple]="field['multiple']" [readOnly]="field['read-only']" [options]="field['value']"
                            [comment]="field['commentaire']" />
                        }
                        @case ('date') {
                        <meg-date-input [idField]="field.idField" [name]="field['name']" [required]="field['requis']"
                            [default]="field['default']" [comment]="field['commentaire']" />
                        }
                        @case ('file') {
                        <meg-file-upload [idField]="field.idField" [name]="field['name']" [required]="field['requis']"
                            [multiple]="field['multiple']" [comment]="field['commentaire']" />
                        }
                        @case ('externalData') {
                        <meg-external-data-input [idField]="field.idField" [name]="field['name']"
                            [required]="field['requis']" [link_name]="field['link_name']" [documentId]="documentId" />
                        }
                        }
                    </div>
                    }

                    <div class="fr-fieldset__element">
                        <ul class="fr-btns-group--right fr-btns-group fr-btns-group--inline">
                            <li>
                                <button class="fr-mt-2v fr-btn" type="button" (click)="onNextStepClick()"
                                    data-fr-opened="false" aria-controls="fr-modal">Suivant</button>
                            </li>
                        </ul>
                    </div>
                    @if (isLoading) {
                    <div> <meg-loading /></div>
                    }
                </div>
                }
                @if (currentStep === 2) {
                <div class="step-container">
                    <h3 class="step-title">{{file_type_field['name']}}</h3>
                    @if (globalErrorMessage) {
                    <div class="fr-alert fr-alert--error" role="alert">
                        {{ globalErrorMessage }}
                    </div>
                    }
                    @for (piece of pieces(); track piece; let idx = $index) {
                    <div class="fr-select-group" [class.fr-select-group--error]="!isTypeSelected(idx) && formSubmitted">
                        <label class="fr-label" for="select-error-{{ idx }}"> {{ piece }} <span
                                class="required-star">*</span>
                        </label>
                        <select class="fr-select" [class.fr-select--error]="!isTypeSelected(idx) && formSubmitted"
                            aria-describedby="select-error-desc-error" id="select-error-{{ idx }}" name="select-error"
                            (change)="onSelectChange($event, idx)" required>
                            <option value="" selected disabled hidden>Sélectionner un type</option>
                            @for (key of objectKeys(fileTypes); track key) {
                            <option [value]=" key">{{ fileTypes[key] }}</option>
                            }
                        </select>
                        @if (!isTypeSelected(idx) && formSubmitted) {
                        <p id="select-error-desc-error" class="fr-error-text">
                            Ce champ est requis
                        </p>
                        }
                    </div>
                    }
                    <div class="fr-fieldset__element">
                        <ul class="fr-btns-group--right fr-btns-group fr-btns-group--inline">
                            <li>
                                <button class="fr-mt-2v fr-btn" type="button" (click)="onAssignFileTypesClick()"
                                    data-fr-opened="false" aria-controls="fr-modal">Enregistrer</button>
                            </li>
                            <li>
                                <button class="fr-mt-2v fr-btn" type="submit" data-fr-opened="false"
                                    aria-controls="fr-modal" [disabled]="!isFormFileTypesValid()">Transmettre</button>
                            </li>
                        </ul>
                    </div>
                </div>
                }
            </div>
        </div>
    </div>
</div>

@if(formSubmitted && isFormFileTypesValid()) {
<dialog aria-labelledby="fr-modal-title" id="fr-modal" class="fr-modal">
    <div class="fr-container fr-container--fluid fr-container-md">
        <div class="fr-grid-row fr-grid-row--center">
            <div class="fr-col-12 fr-col-md-8 fr-col-lg-6">
                <div class="fr-modal__body">
                    <div class="fr-modal__header">
                    </div>
                    <div class="fr-modal__content">
                        @if (isSaving ) {
                        <meg-loading /> }
                        @if(isTypoSuccess !== null ){
                        <p class="fr-badge" [class]="isTypoSuccess ? 'fr-badge--success' : 'fr-badge--error'">
                            {{ isTypoSuccess ? 'Succès' : 'Erreur' }}
                        </p>
                        <p>{{ modalMessage }}</p>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</dialog>
}