/* You can add global styles to this file, and also import other style files */
@import "@gouvfr/dsfr/dist/dsfr.min.css";

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-y: auto;
    overflow-x: hidden;
}

.header {
    background-color: rgb(240, 240, 240);
    color: #414856;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    z-index: 0;
}


.container-fluid {
    padding: 0;
}

.row.no-gutters {
    margin: 0;
}

.content {
    padding: 20px;
}

.mdc-list-item__primary-text {
    color: black !important;
}

.mat-pseudo-checkbox-checked {
    display: none !important;
}

.required-star {
    color: #CE0500;
}

/* Appliquer une couleur de fond aux lignes paires */
table tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

/* Appliquer une couleur de fond aux lignes impaires */
table tbody tr:nth-child(odd) {
    background-color: #ffffff;
}
