<div class="fr-fieldset__element">
    <div class="fr-checkbox-group">
        <input [name]="checkboxId" [id]="checkboxId" type="checkbox" [formControl]="checkboxControl"
            [attr.aria-describedby]="checkboxId + '-messages'" [disabled]="readOnly ? true : null">

        <label class="fr-label" [for]="checkboxId">
            {{ name }} <span *ngIf="required" class="required-star">*</span>
        </label>

        <div class="fr-messages-group" [id]="checkboxId + '-messages'" aria-live="assertive">
        </div>
    </div>
</div>