<div class="fr-fieldset__element">
    <div class="fr-checkbox-group">
        <input [name]="controlId" [id]="controlId" type="checkbox" [formControl]="formControl"
            [attr.aria-describedby]="controlId + '-messages'" [disabled]="readOnly ? true : null">

        <label class="fr-label" [for]="controlId">
            {{ name }} <span *ngIf="required" class="required-star">*</span>
        </label>

        <div class="fr-messages-group" [id]="controlId + '-messages'" aria-live="assertive"></div>
    </div>
</div>