.header {
    background-color: rgb(240, 240, 240);

    color: #414856;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 300px;
    position: relative;
    z-index: 0;
}

.acte-form-content {
    display: flex;
    justify-content: center;
    position: relative;
    z-index: 0;
}

.content-box {
    background-color: white;
    border-radius: 15px;
    padding: 2rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 1200px;
    position: relative;
    z-index: 2;
    margin-top: -50px;
}

.header .display-4 {
    font-size: 2rem;
    font-weight: bold;

}

.input-container {
    margin-bottom: 1rem;
}