<div
    [ngClass]="{'fr-select-group': true, 'fr-select-group--error': formControl.invalid && (formControl.dirty || formControl.touched)}">
    <label class="fr-label" [for]="controlId">
        {{ name }}
        @if (required) {
        <span class="required-star">*</span>
        }
        @if (link_name) {
        <span class="fr-hint-text">{{ link_name }}</span>
        }
    </label>
    <input class="fr-input"
        [ngClass]="{'fr-select--error': formControl.invalid && (formControl.dirty || formControl.touched)}"
        [id]="controlId" type="text" [formControl]="formControl" [matAutocomplete]="auto" #autoCompleteInput />
    <mat-autocomplete #auto="matAutocomplete" class="fr-select">
        @for (option of filteredOptions; track $index) {
        <mat-option [value]="option">
            {{ option }}
        </mat-option>
        }
    </mat-autocomplete>
    @if (formControl.invalid && (formControl.dirty || formControl.touched)) {
    <p class="fr-error-text">
        Ce champ est requis.
    </p>
    }
</div>