<header role="banner" class="fr-header">
    <div class="fr-header__body">
        <div class="fr-container">
            <div class="fr-header__body-row">
                <div class="fr-header__brand fr-enlarge-link">
                    <div class="fr-header__brand-top">
                        <div class="fr-header__logo">
                            <img src="../../../assets/img/megalis_logo.png" alt="Logo de megalis bretagne" class="logo">
                        </div>
                        <div class="fr-header__navbar">
                            <button class="fr-btn--menu fr-btn" data-fr-opened="false" aria-controls="modal-499"
                                aria-haspopup="menu" id="button-500" title="Menu">
                                Menu
                            </button>
                        </div>
                    </div>
                    <div class="fr-header__service">
                        <a href="/" title="Accueil Megacte">
                            <p class="fr-header__service-title">
                                Megacte
                            </p>
                        </a>
                        <p class="fr-header__service-tagline">Gestion des actes administratifs</p>
                    </div>
                </div>
                <div class="fr-header__tools">
                    <div class="fr-header__tools-links">
                        <ul class="fr-btns-group">
                            <li>
                                <a class="fr-btn" routerLink="/user-profile">
                                    <span class="fr-icon-account-circle-fill" aria-hidden="true"></span>
                                    {{ userContext.user_info.prenom }} {{ userContext.user_info.nom }}
                                </a>
                            </li>
                            <li>
                                <a class="fr-btn" href="" (click)="logout($event)">
                                    <span class="fr-icon-logout-box-r-fill" aria-hidden="true"></span>
                                    Déconnexion
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>