<div class="file-upload fr-input-group" [class.fr-input-group--error]="formControl.invalid && formControl.touched">
    <label class="fr-label para-name" [class.fr-label--error]="formControl.invalid && formControl.touched"
        [for]="controlId">
        {{ name }}
        @if (required) {
        <span class="required-star">*</span>
        }
    </label>
    @if (comment) {
    <div class="fr-hint-text">{{ comment }}</div>
    }
    <div class="file-upload-container">
        <div class="upload-section" megDragAndDrop (filesDropped)="onFilesDropped($event)">
            <p>Glissez/déposez le(s) fichier(s) ici ou cliquez sur "Parcourir les fichiers".</p>
            <button mat-raised-button color="primary" (click)="fileInput.click()" class="custom-button"
                [disabled]="upload_loading === true">Parcourir les
                fichiers</button>
            <input type="file" (change)="onFileSelected($event)" [multiple]="multiple" hidden #fileInput
                [id]="controlId">
            <input type="hidden" [formControl]="formControl" />
        </div>

        @if (files.length > 0 || upload_loading) {
        <div class="uploaded-files">
            <h6>Fichiers téléchargés :</h6>
            <ul>
                @for (file of files; track file.name) {
                <li class="fr-hint-text">
                    {{ file.name }}
                    <button mat-button color="warn" (click)="removeFile(file)">
                        <span class="fr-icon-delete-fill" aria-hidden="true">Supprimer</span>
                    </button>
                </li>
                }
                @if (upload_loading) {
                <meg-loading [message]="'Envoi de documents'" />
                }
            </ul>
        </div>
        }
    </div>

    @if (formControl.invalid && formControl.touched) {
    <p id="file-upload-with-error-desc-error" class="fr-error-text">
        {{ errorMessage || (formControl.hasError('required') ? 'Ce champ est requis.' : '') }}
    </p>
    }
</div>