<div class="fr-select-group" [class.fr-select-group--disabled]="formControl.disabled">
    <label class="fr-label" [for]="controlId">
        {{ name }}
        @if (required && !formControl.disable) {
        <span class="required-star">*</span>
        }
        @if (comment) {
        <span class="fr-hint-text">{{ comment }}</span>
        }
    </label>
    <select class="fr-select" [id]="controlId" [name]="controlId" [formControl]="formControl" [multiple]="multiple">
        @for (option of options | keyvalue; track option.key) {
        <option [value]="option.key" [selected]="option.key === formControl.value">
            {{ option.value }}
        </option>
        }
    </select>
</div>