<div class="p-4 md:p-5 max-h-[80vh] overflow-y-auto">
    <div class="inline-flex items-center text-sm font-normal text-gray-500">

        @for(entiteParent of pathEntite; track entiteParent.id_e; let last = $last) {

        @if(!last) {
        <a href="#" class="font-medium text-blue-600  hover:underline"
            (click)="backToParent($event,entiteParent)">{{entiteParent.denomination}}</a>
        <svg class="w-3 h-3 ms-2 me-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
            viewBox="0 0 12 10">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                d="m7 9 4-4-4-4M1 9l4-4-4-4" />
        </svg>
        } @else {
        <span>{{entiteParent.denomination}}</span>
        }

        }
    </div>

    @if(countEntiteAvailable() > 5) { <!-- on affiche le champ de recherche si il y a plus de 5 éléments -->
    <div class="p-2 relative">
        <div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
            <svg class="w-5 h-5 text-gray-400" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                xmlns="http://www.w3.org/2000/svg">
                <path stroke="currentColor" stroke-linecap="round" stroke-width="2"
                    d="m21 21-3.5-3.5M17 10a7 7 0 1 1-14 0 7 7 0 0 1 14 0Z" />
            </svg>
        </div>
        <input #searchEntite type="text" placeholder="Rechercher sur le nom ou le siren..." (input)="filter()"
            title="Rechercher sur le nom ou le siren"
            class="block w-full pl-10 px-3 py-2 text-sm text-gray-900 bg-gray-50 border border-gray-300 rounded-lg focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:text-white">
    </div>
    }


    <ul class="my-4 space-y-3">
        @for (entite of filterEntites; track entite.id_e) {
        <li class="flex items-center  rounded-lg bg-gray-50 group  dark:bg-gray-600">

            <a href="#" (click)="selectEntite($event, entite)"
                class="inline-flex flex-grow items-center p-4 justify-center text-base font-bold text-gray-900 rounded-lg hover:shadow bg-gray-50 hover:text-gray-900 hover:bg-gray-100 transition-colors duration-200">
                <span class="w-full">{{ entite.denomination }}</span>
            </a>
            @if (entite.child?.length > 0) {
            <a href="#" class="btn-meg-secondary px-4 py-2 inline-flex items-center"
                (click)="showChild($event, entite)">
                Voir les entités filles
                <svg class="w-3.5 h-3.5 ms-2 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                    fill="none" viewBox="0 0 14 10">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        d="M1 5h12m0 0L9 1m4 4L9 9" />
                </svg>
            </a>
            }
        </li>
        } @empty {
        @if(getParent(); as parent) {
        <a href="#" class="btn-meg-secondary px-4 py-2 inline-flex items-center" (click)="backToParent($event)">
            <svg class="w-6 h-6 me-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                fill="none" viewBox="0 0 24 24">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    d="M5 12h14M5 12l4-4m-4 4 4 4" />
            </svg>

            @if(parent.id_e > 0) {
            Revenir à l'entité {{parent.denomination}}
            } @else {
            Revenir à la liste de toutes les entités
            }
        </a>
        }
        }
    </ul>
</div>