<div class="my-3">
    <label class="meg-label" [ngClass]="{
        '!text-alert': formControl.invalid && (formControl.dirty || formControl.touched),
        '!text-success': formControl.valid && formControl.dirty
      }" [for]="controlId">
        {{ name }}
        @if (required && !formControl.disabled) {
        <span class="text-required">*</span>
        }

    </label><!-- @TODO gérer le cas multiple-->
    @if (comment) {
    <p id="tooltip-helper-text" class="mt-0.5 text-xs text text-ellipsis whitespace-nowrap overflow-hidden"
        title="{{comment}}">{{comment}}</p>
    }
    <select class="meg-select" [id]="controlId" [name]="controlId" [formControl]="formControl" [required]="required"
        [ngClass]="{
        'invalid': formControl.invalid && (formControl.dirty || formControl.touched),
        'valid': formControl.valid && (formControl.dirty || formControl.touched)}">
        @for (option of options | keyvalue; track option.key) {
        <option [value]="option.key" [selected]="option.key === formControl.value">
            {{ option.value }}
        </option>
        }
    </select>
    @if(formControl.dirty || formControl.touched ) {
    @if (formControl.invalid) {
    <p class="meg-error">
        Ce champ est requis
    </p>
    } @else {
    <p class="meg-valid">
        Champ valide
    </p>
    }
    }
</div>