@if (currentUser(); as currentUser) {
<div class="fr-container--fluid">
    <h1>Bonjour {{ currentUser.user_info.prenom }}</h1>
    <div class="fr-grid-row">
        <div class="fr-col">
            <p>Bienvenue sur Megacte.</p>
        </div>
    </div>

    <div class="fr-table  fr-table--bordered">
        <table id="table-md" class="fr-text--sm">
            <caption> {{ currentUser.entites.length === 1 ? 'Entité' : 'Liste des Entités' }} : </caption>
            <thead>
                <tr>
                    <th scope="col" class="meg fr-col-xl-9  fr-col-lg-9 fr-col-md-9"> Denomination </th>
                    <th scope="col" class="meg fr-col-xl-2 fr-col-lg-2 fr-col-md-2"> Type </th>
                    <th scope="col" class="meg fr-col-xl-2 fr-col-lg-2 fr-col-md-2"> Siren </th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let entite of paginatedEntities">
                    <td>{{ entite.denomination }}</td>
                    <td>{{ entite.type }}</td>
                    <td>{{ entite.siren }}</td>
                </tr>
            </tbody>
        </table>

        <nav role="navigation" class="fr-pagination" aria-label="Pagination">
            <ul class="fr-pagination__list">
                <li>
                    <a class="fr-pagination__link fr-pagination__link--first" [attr.aria-disabled]="currentPage() === 1"
                        [attr.href]="currentPage() === 1 ? null : '#'" role="link" (click)="changePage(1, $event)">
                        Première page
                    </a>
                </li>
                <li>
                    <a class="fr-pagination__link fr-pagination__link--prev" [attr.aria-disabled]="currentPage() === 1"
                        [attr.href]="currentPage() === 1 ? null : '#'" (click)="changePage(currentPage()-1, $event)"
                        role="link">
                        Page précédente
                    </a>
                </li>
                <li *ngFor="let page of displayedPages" [class.active]="page === currentPage()">
                    <a class="fr-pagination__link" href="#" [attr.aria-current]="page === currentPage() ? 'page' : null"
                        title="Page {{page}}" (click)="changePage(page, $event)">
                        {{ page }}
                    </a>
                </li>
                <li>
                    <a class="fr-pagination__link fr-pagination__link--next"
                        [attr.aria-disabled]="currentPage() >= totalPages()"
                        [attr.href]="currentPage() >= totalPages() ? null : '#'"
                        (click)="changePage(currentPage()+1, $event)" role="link">
                        Page suivante
                    </a>
                </li>
                <li>
                    <a class="fr-pagination__link fr-pagination__link--last"
                        [attr.aria-disabled]="currentPage() >= totalPages()"
                        [attr.href]="currentPage() >= totalPages() ? null : '#'"
                        (click)="changePage(totalPages(), $event)" role="link">
                        Dernière page
                    </a>
                </li>
            </ul>
        </nav>


    </div>
</div>
} @else{
<app-loading-template />
}