@if (currentUser(); as currentUser) {
<div class="container mx-auto">
    <h1>Compte de {{ currentUser.user_info.prenom }} </h1>

    <div class="meg-table mt-4">
        <table id="table-md">
            <caption class="p-5 text-lg font-semibold text-left">
                {{ currentUser.entites.length === 1 ? 'Entité' : 'Liste des entités' }}
            </caption>
            <thead class="bg-gray-50 text-medium">
                <tr>
                    <th scope="col"> Denomination </th>
                    <th scope="col"> Type </th>
                    <th scope="col"> Siren </th>
                </tr>
            </thead>
            <tbody>
                @for(entite of paginatedEntities; track entite.id_e) {
                <tr>
                    <td>{{ entite.denomination }}</td>
                    <td>{{ entite.type }}</td>
                    <td>{{ entite.siren }}</td>
                </tr>
                }
            </tbody>
        </table>
        <meg-pagination [totalPages]="totalPages()" (onChangePage)="updateDisplayedPages($event)" />
    </div>
</div>
}